.footer {
    // margin-top: 3rem;
    padding: 0;
    // height: 90px;
    // flex-shrink: 0;
}

.footer-social {
    background-color: #DFE6ED;
    padding: 20px;
}

.footer-link {
    background-color: #C3CFD9;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    align-items: center;
}

.footer-link-row {
    display: flex;
}

.footer-link-col-image {
  
}

.img-circle {
    margin: 10px;
    border-radius: 50%;
}

.footer-item {
    color: black;
    font-size: .8rem;
    margin-right: 1rem;
    text-decoration: none;
}

.footer-item:hover {
    color: #6558F5;
    text-decoration: none;
}

.active-footer-item {
    color: #6558F5;
}


.footer-auth {
    background-color: #DFE6ED;
    padding: 20px;
    text-align: center;
}